body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    /* Add background image */
    background-image: url('background-image.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333; /* Adjust text color for better readability on the background image */
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Use rgba for a semi-transparent background */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

/* Add styles for images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Use rgba for a semi-transparent background */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}