body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    background-image: url('../high\ quality\ background.jpg'); /* Replace with your hero background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.9rem;
}

section {
    padding: 40px;
}

h2 {
    color: #393737;
}

p {
    color: #555;
    font-size: 16px;
}

footer {
    background-color: #333;
    background-image: url(../menu.jpg);
    color: #fff;
    text-align: center;
    padding: 20px;
}